<div class="row">
  <div class="col-lg-12">
    <h2>Lista pytań w systemie</h2>
  </div>
</div>
<!-- /. ROW  -->
<hr/>
<!-- /. ROW  -->
<div class="row text-center pad-top">
  <div class="col-lg-12">
    <div class="table-responsive">
      <%= will_paginate @questions, :previous_label => t("Poprzednie"), :next_label => t("Następne") %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Treść</th>
          <th>Zatwierdzone</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <%= render @questions %>
        </tbody>
      </table>
      <%= will_paginate @questions, :previous_label => t("Poprzednie"), :next_label => t("Następne") %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= link_to "Dodaj nowe pytanie", new_question_path, :class => "btn btn-danger btn-lg btn-block" %>
      </div>
    </div>
  </div>
</div>





