<div class="row">
  <div class="col-lg-12">
    <h2>ADMIN DASHBOARD</h2>
  </div>
</div>
<!-- /. ROW  -->
<hr/>
<!-- /. ROW  -->
<div class="row text-center pad-top">
  <div class="col-lg-12">
    <div class="panel panel-primary text-center no-boder">
      <div class="panel-body green">
        <i class="fa fa-question-circle-o fa-3x"></i>
        <h3>100</h3>
      </div>
      <div class="panel-footer">
                            <span class="panel-eyecandy-title">Ilość pytań w systemie
                            </span>
      </div>
    </div>
    <div class="panel panel-primary text-center no-boder">
      <div class="panel-body yellow">
        <i class="fa fa-comment fa-3x"></i>
        <h3>100</h3>
      </div>
      <div class="panel-footer">
                            <span class="panel-eyecandy-title">Ilość kart w systemie
                            </span>
      </div>
    </div>
    <div class="panel panel-primary text-center no-boder">
      <div class="panel-body red">
        <i class="fa fa-list-alt fa-3x"></i>
        <h3>100</h3>
      </div>
      <div class="panel-footer">
                            <span class="panel-eyecandy-title">Ilość kategorii
                            </span>
      </div>
    </div>
    <div class="panel panel-primary text-center no-boder">
      <div class="panel-body blue">
        <i class="fa fa-question fa-3x"></i>
        <h3>100</h3>
      </div>
      <div class="panel-footer">
                            <span class="panel-eyecandy-title">Liczba pytań czekających na akceptację
                            </span>
      </div>
    </div>
    <div class="panel panel-primary text-center no-boder">
      <div class="panel-body green">
        <i class="fa fa-users fa-3x"></i>
        <h3>100</h3>
      </div>
      <div class="panel-footer">
                            <span class="panel-eyecandy-title">Liczba użytkowników w systemie
                            </span>
      </div>
    </div>
    <div class="panel panel-primary text-center no-boder">
      <div class="panel-body yellow">
        <i class="fa fa-gamepad fa-3x"></i>
        <h3>100</h3>
      </div>
      <div class="panel-footer">
                            <span class="panel-eyecandy-title">Liczba aktywnych gier
                            </span>
      </div>
    </div>


  </div>
</div>





