<div class="row">
  <div class="col-lg-12">
    <h2>Lista użytkowników</h2>
  </div>
</div>
<!-- /. ROW  -->
<hr/>
<!-- /. ROW  -->
<div class="row text-center pad-top">
  <div class="col-lg-12">
    <div class="table-responsive">
      <%= will_paginate @users, :previous_label => t("Poprzednie"), :next_label => t("Następne") %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Login</th>
          <th>Email</th>
          <th>Liczba zalogowań</th>
        </tr>
        </thead>
        <tbody>
        <%= render @users %>
        </tbody>
      </table>
      <%= will_paginate @users, :previous_label => t("Poprzednie"), :next_label => t("Następne") %>
    </div>
  </div>
</div>





