<div class="row">
  <div class="col-lg-12">
    <h2>Kategorie</h2>
    <h4>Wybierz kategorię, aby przejść do kart</h4>
  </div>
</div>
<!-- /. ROW  -->
<hr/>
<!-- /. ROW  -->
<div class="row text-center pad-top">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nazwa</th>
          <th>Ilość kart</th>
        </tr>
        </thead>
        <tbody>
        <%= render :partial => 'categories/card_category', :collection => @categories %>
        </tbody>
      </table>
    </div>
  </div>
</div>





