<div class="row">
  <div class="col-lg-12">
    <h2>Nowa karta</h2>
  </div>
</div>
<!-- /. ROW  -->
<hr/>
<!-- /. ROW  -->
<div class="row text-center pad-top">
  <div class="col-lg-12">
    <%= render 'form' %>
  </div>
</div>





