@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Caveat);


/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US

    ========================================================  */
/*==============================================
    GENERAL  STYLES
    =============================================*/
body {
  font-family: 'Caveat', cursive;
  line-height:30px;
  background:#FF9000;
}

.navbar-default {
  background:#FF9000;
}

#wrapper {
  width: 100%;
  margin-top:50px;
}

#page-wrapper {
  padding: 15px 15px;
  min-height: 600px;
  background: #ff5000;

}
#page-inner {
  width:100%;
  margin:10px 20px 10px 0px;
  padding:10px;
  min-height:1050px;
  background:#FF9000;
}
.pad-top {
  padding-top:15px;
}
/*==============================================
    MENU STYLES
    =============================================*/

.sidebar-collapse .nav {
  padding:0;
  padding-top:50px;
}

.sidebar-collapse > .nav > li > a {
  padding:15px 10px;
  color: #333333;
  font-size: 26px;
}

.panel-eyecandy-title {
  color: #333333;
  font-size: 20px;
}
.sidebar-collapse > .nav > li {
  border-bottom:1px solid #fff;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {

  background:#ff6600;
  outline:0;
}

.navbar-side {
  border:none;

}
.navbar-inverse {

  background-color: #ff5000;
  border-color: #F0F0F0;
  min-height: 80px;
}

.fa-sign-out {
  color: #333333;
}



.nav > li > a > i {
  margin-right:10px;
}
.logout-spn {
  float:right;
  font-size:25px;
  font-weight:800;
  margin:20px;
  margin: 10px 25px 10px 50px;
}
.logout-spn a {
  text-decoration:none;
}
.active-link {
  background-color:#ff5000;
}

/*==============================================
    DASHBOARD STYLES
    =============================================*/
.div-square {
  padding:5px;
  border:3px double #e1e1e1;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  margin:5px;

}

.div-square> a,.div-square> a:hover {
  color:#808080;
  text-decoration:none;
}

.blue {
  background-color: #3498db;
}

.green {
  background-color: #2ecc71;
}

.red {
  background-color: #e74c3c;
}

.yellow {
  background-color: #f1c40f;
}

.amethyst {
  background-color: #9b59b6;
}

.concrete {
  background-color: #95a5a6;
}


/*==============================================
    MEDIA QUERIES
    =============================================*/

@media(min-width:768px) {
  #page-wrapper{
    margin: 0 0 0 260px;
    padding: 15px 30px;
    min-height: 1050px;

  }


  .navbar-side {
    z-index: 1;
    position: absolute;
    width: 260px;

  }


}

.table_buttons {
  float: right;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

tr {
  color: #333333;
  font-size: 20px;
}

.panel-primary {
  border-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-danger {
  background-color: #ff5000;
  border: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  color: #333333;
}

.btn-danger:hover {
  background-color: #ff6600;
}

.form-control {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
}

.fa-ban {
  color: #e74c3c;
}

.fa-check {
  color: #27ae60;
}

.fa-pencil {
  color: #2c3e50;
}

.fa-trash {
  color: #c0392b;
}

.login-form{
  width:50%;
  padding:10px 15px;
  background:#eee;
  @include border-radius(4px);
  margin:auto;
  font-size: 16px;
}

#card > tbody > tr > td {
  border: 0px;
  padding: 0px;
  vertical-align: baseline;
}

.table-condensed > tr {
  border: 0px;
  padding: 0px;
}

.form-control1 {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
  height: auto;
}

