<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">



      <li class="active-link">
        <a href="index.html" ><i class="fa fa-desktop "></i>Dashboard</a>
      </li>


      <li>
        <a href="ui.html"><i class="fa fa-table "></i>Lista pytań</a>
      </li>
      <li>
        <a href="blank.html"><i class="fa fa-edit "></i>Dodaj pytanie</a>
      </li>


      <li>
        <%= link_to categories_path do%><i class="fa fa-spoon"></i>Lista kategroii pytań<% end %>
      </li>
      <li>
        <%= link_to new_category_path do%><i class="fa fa-spoon"></i>Dodaj kategorię<% end %>
      </li>

      <li>
        <a href="#"><i class="fa fa-edit "></i>Lista kart</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-table "></i>Dodaj kartę</a>
      </li>

    </ul>
  </div>

</nav>