<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="adjust-nav">

                <span class="logout-spn" >
                  <%= link_to logout_path, method: "delete" do%><i class="fa fa-sign-out fa-fw fa-2x"></i> <% end %>

                </span>
  </div>
</div>